[submodule "mycroft-core"]
	path = mycroft-core
	url = https://github.com/MycroftAI/mycroft-core.git
[submodule "personal-backend"]
	path = personal-backend
	url = https://github.com/MycroftAI/personal-backend.git
